:root {
    --text-link: #2463EB;
}

* {
    overflow: hidden;
}

* {
    font-family: Roboto,
        "Helvetica Neue",
        sans-serif;
}


.hide {
    display: none !important;
}

.link {
    color: var(--text-link);
}

.main.tabs .tab {
    padding-bottom: 3px;
}

.tab.active {
    color: var(--text-link);
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--text-link);
}

.que-div .option.wrong {
    background-color: #f0acac;
}

.que-div .option.correct {
    background-color: #C6F6D5;
}

.disabled {
    pointer-events: none;
}

.text-no-wrap {
    text-wrap: nowrap;
}

.max-w-full {
    max-width: 100%;
    overflow-x: scroll;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}


.loading .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin: 10px;
}

.loading p {
    font-size: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.me-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #000000ba;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 10;
}

.me-overlay .container {
    background-color: white;
    width: min(700px, 100vw);
}

.search-mcq-overlay .search-results_ {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
}

.subject.active {
    color: white;
    background-color: #648aff;
}

.main>.tab-container_ {
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
    padding-bottom: 40px;
    /* Ensures space at the bottom for scrollbar */
}

/* Hide scrollbars but allow scrolling */
* {
    overflow: auto;
    /* Allows scrolling */
    scrollbar-width: none;
    /* For Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

.tag:not(.que-tag) {
    border: 1px solid var(--text-link);
    font-size: 12px;
    padding: 2px 5px;
}

.w-full-scroll {
    max-width: min(400px, 95vw) !important;
    overflow-x: scroll !important;
}

.block-main.heading span.text {
    font-size: 1.3em;
    font-weight: 550;
    color: #434343;
}

.me-bold {
    font-weight: 700;
}

.chapter .title {
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.chapter>.children>div {
    max-height: 100%;
}

.block-main.heading {
    border-left: 3px solid #0068d1;
    background-color: #ebf5ff;
    padding: 7px 6px;
    margin-top: 8px;
}

.block>.children {
    margin-left: 10px;
}

.block-text {
    display: block;
    white-space: normal;
    line-height: 25px;
}

.block-text .video {
    margin-left: 10px;
    opacity: 0.7;
}

.me-iframe-div iframe {
    width: min(600px, 100vw);
    height: 350px;
    margin: 10px 0px;
}

.mobile .me-iframe-div iframe {
    width: min(450px, 98vw);
    height: 250px;
}




.me-iframe-div .me-iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-iframe-div .header {
    display: flex;
}

.me-iframe-div .header .cross {
    margin-left: auto;
}

.tab-container.page {
    width: min(700px, 100vw);
}

.me-highlight {
    background-color: #3fff3d;
    padding: 1px 3px;
}

.block-text .bullet {
    width: 20px;
    box-sizing: content-box;
    display: flex;
    align-items: center;

    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-clip: content-box;
    border: 4px solid transparent;
    /*background-color: #394B59;*/
    background-color: #b2b2b2;
    margin: 0px 5px;

    margin-top: 6px;
}

.filter-message-div:has(.hide) {
    display: none;
}

.path .path-item {
    font-size: 0.8em;
}

.me-overlay .path .path-item::after {
    content: ">";
    margin-left: 5px;
}

.mock-test .question-list .que-div .selected,
.mock-test .dot.selected {
    background-color: #ffd39ed0;
}

.static-mock-item-inner .disabled {
    opacity: 0.5;
    pointer-events: none;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 3s linear infinite;
    /* Adjust the duration as needed */
}

.new-mock .tag.selected {
    background-color: #0068d1;
    color: white;
}

.tag-item.selected>.main-tag {
    background-color: #ffdd9e;
    padding: 2px;
    border-radius: 2px;
}




* {
    font-size: 14px;
}



.filter-searched-mcqs {
    display: none;
}

.search-mcq-overlay-inner:has(.search-results .que-div) .filter-searched-mcqs {
    display: flex;
}

.mobile * {
    font-size: 13px;
}